<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Throw</h1>
    <!-- 1. form -->
    <form action="/pages/catch/" method="GET">
        <!-- 2. input -->
        <label for="username">이름</label>
        <input id="username" type="text" name="username">
        <label for="content">내용</label>
        <input id="content" type="text" name="message">
        <input type="submit" value="던지기">
        <!-- 3. label -->
    </form>


</body>
</html>